.columns-toggler {
  margin-top: -20px;
  background: $grey;

  &.has-affix .toggler-body{
    position: fixed;
  }

  .toggler-body {
    top: 0;
    width: 240px;
  }

  h3 {
    padding-bottom: 6px; // align content below with table
  }

  .drawer-toggler {
    background: $grey;
  }

  .nav.nav--light > li.active > a {
    background: darken($grey, 2%);
  }
}
