{"TAGS" ".source.s_tcp" "SOURCEIP" "192.168.99.1" "PROGRAM" "sean" "PRIORITY" "alert" "PID" "11423" "MESSAGE" "hello ernie, it's 2016-02-29 15:06:02.614728886 -0600 CST" "HOST" "192.168.99.1" "FACILITY" "kern" "DATE" "Feb 29 15:06:02"}
