{"_parsed" {"xyz" "well hello, this is json" "time" "2016-02-29T15:05:02.499771543-06:00" "nest" {"two" "22" "one" "1"}} "TAGS" ".source.s_tcp" "SOURCEIP" "192.168.99.1" "PROGRAM" "sean" "PRIORITY" "alert" "PID" "11305" "MESSAGE" "{\"nest\":{\"one\":1,\"two\":22},\"time\":\"2016-02-29T15:05:02.499771543-06:00\",\"xyz\":\"well hello, this is json\"}" "HOST" "192.168.99.1" "FACILITY" "kern" "DATE" "Feb 29 15:05:02"}
